<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCpicphu0UlW4kH6fepUP4b1oGtWQDqmxw</string>
	<key>GCM_SENDER_ID</key>
	<string>629002924051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vivamaxlogin</string>
	<key>PROJECT_ID</key>
	<string>viva-max-page</string>
	<key>STORAGE_BUCKET</key>
	<string>viva-max-page.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:629002924051:ios:08da4dc0e3c30ead770fe6</string>
</dict>
</plist>